# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
venv/
.venv/

# Logs
*.log
*.csv

# STM32
Debug/
Release/
build/
*.elf
*.bin
*.hex
*.map
*.o
*.d

# STM32CubeIDE
.settings/
.metadata/
.mxproject
# MPLAB X
dist/
build/
nbproject/private/

# VSCode
.vscode/

# Altium
History/
__Previews__/
*.SchDocPreview
*.PcbDocPreview
# STM32 build outputs
Firmware/**/build/
Firmware/**/Debug/
Firmware/**/Release/
*.elf
*.hex
*.bin
*.map
*.lst
*.o
*.d

# CubeMX large optional middleware/libs not used
Firmware/**/Drivers/CMSIS/DSP/
Firmware/**/Drivers/CMSIS/NN/
Firmware/**/Drivers/CMSIS/RTOS/
Firmware/**/Drivers/CMSIS/RTOS2/
Firmware/**/Drivers/CMSIS/docs/

# Misc
!!!NOTES!!!